.photo-gallery-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.gallery-panel, .slideshow-panel {
    flex: 1;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.gallery-image {
    max-width: 100px;
    height: auto;
    border: 2px solid #000;
    border-radius: 5px;
}

.slideshow {
    margin: 20px 0;
    text-align: center;
}

.slideshow-image {
    max-width: 90%; /* Ajustado dentro del cuadro del slideshow */
    max-height: 400px; /* Altura máxima dentro del cuadro del slideshow */
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.slideshow-image.fullscreen {
    max-width: 100vw; /* Ancho máximo limitado al tamaño de la ventana */
    max-height: 100vh; /* Altura máxima limitada al tamaño de la ventana */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
    border: none; /* Opcional: Elimina bordes en pantalla completa */
    box-shadow: none; /* Opcional: Elimina sombras en pantalla completa */
}

.slideshow-controls {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.slideshow-controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.slideshow-controls button:hover {
    background-color: #293b4e;
}

.slideshow-controls button:disabled {
    background-color: #bab9c7;
    cursor: not-allowed;
}
