.photo-gallery-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.gallery-panel, .slideshow-panel {
    flex: 1;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ajustar la previsualización */
.preview-gallery {
    margin-top: 20px;
    padding: 20px;
    border: 1px dashed #ddd;
    border-radius: 5px;
    height: 300px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.preview-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.preview-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    overflow: hidden;
}

.preview-container {
    position: relative;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(170, 39, 39, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.preview-container:hover {
    transform: scale(1.1); /* Ampliar ligeramente al pasar el ratón */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra al pasar el ratón */
}

.preview-image {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
    border-radius: 5px;
}

/* Galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.gallery-image {
    max-width: 100px;
    height: auto;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.1); /* Ampliar ligeramente al pasar el ratón */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Agregar sombra al pasar el ratón */
}

.gallery-image.selected {
    border: 3px solid #007bff; /* Cambiar color del borde cuando esté seleccionada */
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.5); /* Sombra azul para resaltar selección */
    transform: scale(1.1); /* Ligeramente más grande al estar seleccionada */
}

/* Slideshow */
.slideshow {
    margin: 20px 0;
    text-align: center;
}

.slideshow-image {
    max-width: 90%; /* Ajustado dentro del cuadro del slideshow */
    max-height: 400px; /* Altura máxima dentro del cuadro del slideshow */
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.slideshow-image.fullscreen {
    width: 100vw; /* Ajustar el ancho al 100% del viewport */
    height: 100vh; /* Ajustar la altura al 100% del viewport */
    object-fit: contain; /* Mantener la proporción de la imagen dentro de la pantalla */
    border: none; /* Eliminar bordes en pantalla completa */
    box-shadow: none; /* Eliminar sombras en pantalla completa */
    margin: 0; /* Eliminar cualquier margen */
    padding: 0; /* Eliminar cualquier padding */
    display: block; /* Asegurar que sea un bloque */
}

.slideshow-controls {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.slideshow-controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.slideshow-controls button:hover {
    background-color: #293b4e;
}

.slideshow-controls button:disabled {
    background-color: #bab9c7;
    cursor: not-allowed;
}

.filters {
    margin-top: 20px;
}

.filters label {
    margin-right: 10px;
}
